{% extends 'base1.html' %}
{% load static %}
{% block content %}

<section id="blog-header" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-5 col-sm-12">
                <h2>Courses</h2>
            </div>

        </div>
    </div>
</section>

<section id="blog-detail" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="card1">
            {% for cs in course %}
            <div class="cards">
                <img src="{{cs.Course_photo.url}}" alt="">
                <div class="con-text">
                    <h2>{{cs.heading}}</h2>
                    <p>
                        <a class="btn-card" href="{% url 'course_details' cs.id %}"><button>Enroll Now</button></a>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<script src="https://kit.fontawesome.com/ff3945c924.js" crossorigin="anonymous"></script>

{% endblock %}